[submodule "suites/parser"]
	path = suites/parser
	url = https://github.com/whitequark/parser
[submodule "suites/ruby_parser"]
	path = suites/ruby_parser
	url = https://github.com/seattlerb/ruby_parser
